<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="tv.LGTV" id="tv">
		<constructor-arg ref="sr"></constructor-arg>
	</bean>
   
	<bean class="tv.LGRemote" id="lr" />
	<bean class="tv.SaRemote" id="sr" />
	
</beans>
